extends layout

block content
  .row.stuff
    .col-xs-12.col-sm-10.col-sm-offset-1.text-center
      h1 fcc-voting
      h5 Below are polls hosted by fcc-voting.
      h5 Select a poll to see the results and vote, or sign-in to make a new poll.
      .btn-group-vertical.btn-block
        button.btn.btn-default herp
