.navbar-btn {
  margin-left: 15px;
}

.stuff {
  background-color: #EEEEEE;
  border-radius: 4px;
}

.info {
  padding: 50px;
}

/*a {
  text-decoration: none;
}*/

h1 {
  font-size: 65px;
  padding-top: 30px;
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 35px;
  }
  .details {
    padding: 0;
  }
}

h5 {
  font-size: 20px;
  padding: 6px;
}

.container {
  border-radius: 4px;
}

.btn-group-vertical {
  padding-bottom: 40px;
}

.btn-default {
  padding: 10px;
}

.pollbtn {
  margin: 12px 0;
}

canvas {
  margin: 50px 0;
}

li span {
  border-radius: 3px;
}

footer {
  margin: 30px 0;
}

p {
  margin: 0;
  padding: 0;
}

.signoutbtn {
  width: 270px;
  margin: 10px -2px;
}

form {
  padding-bottom: 50px;
}
